$font: 'Nanum Gothic', sans-serif;
$brown: hsla(25, 28, 65, 1);
$charcoal-gray: hsla(328, 0%, 24%, 1);
$light-brown: hsla(30, 22, 70, 1);
$navy-blue: hsla(197, 100, 12, 1);
$light-blue: hsla(186, 39, 61, 1);
$off-white: hsla(72, 26, 96, 1);
