.hidden {
  display: none !important;
}

.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-row {
  @extend .flex;
  flex-direction: row;
}

.flex-column {
  @extend .flex;
  flex-direction: column;
}

button {
  background-color: $navy-blue;
  color: $off-white;
  font-size: 10px;
  border-radius: 5%;
  margin: 10px;
  padding: 5px;
}
