header {
  text-align: center;
}

.hidden {
  display: none !important;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.rooms-container {
  flex-grow: 1;
  float: left;
}

.sidebar {
  flex-grow: 2;
  float: right;
}

.user-dashboard, .guest-directory, .booking-history {
  text-align: center;
}
