$brown: hsla(25, 28, 65, 1);
$light-brown: hsla(30, 22, 70, 1);
$navy-blue: hsla(197, 100, 12, 1);
$light-blue: hsla(186, 39, 61, 1);
$off-white: hsla(72, 26, 96, 1);

header {
  text-align: center;
}

.hidden {
  display: none !important;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.rooms-container {
  float: left;
}

.sidebar {
  float: right;
}

#user-dashboard, #guest-directory, #booking-history, #manager-stats {
  text-align: center;
}
